@import "tailwindcss";
@import "./fonts.css";

@layer base {
  :root {
    &,
    &.light-mode {
      --background-app: #ffffff;
      --color-primary-900: #4a6dff;
      --color-primary-800: #5c7cff;
      --color-primary-700: #6e8aff;
      --color-primary-600: #8099ff;
      --color-primary-500: #92a7ff;
      --color-primary-400: #a4b6ff;
      --color-primary-300: #b7c5ff;
      --color-primary-200: #c9d3ff;
      --color-primary-100: #dbe2ff;
      --color-primary-50: #e4e9ff;
      --color-secondary-900: #111827;
      --color-secondary-800: #1f2937;
      --color-secondary-700: #374151;
      --color-secondary-600: #4b5563;
      --color-secondary-500: #6b7280;
      --color-secondary-400: #9ca3af;
      --color-secondary-300: #d1d5db;
      --color-secondary-200: #e5e7eb;
      --color-secondary-100: #f3f4f6;
      --color-secondary-50: #f9fafb;
      --color-secondary-0: #ffffff;
      --color-success: #00c073;
      --color-warning: #ff9900;
      --color-error: #ff4757;
      --color-red-500: #ef4444;
      --color-red-300: #fca5a5;
    }

    &.dark-mode {
      --color-secondary-900: #f9fafb;
      --color-secondary-800: #f3f4f6;
      --color-secondary-700: #e5e7eb;
      --color-secondary-600: #d1d5db;
      --color-secondary-500: #9ca3af;
      --color-secondary-400: #6b7280;
      --color-secondary-300: #4b5563;
      --color-secondary-200: #374151;
      --color-secondary-100: #1f2937;
      --color-secondary-50: #111827;
      --color-secondary-0: #18212f;
      --backdrop-color: #000000;
    }
  }
}

body {
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
  background-color: var(--background-app);
}
