@import "tailwindcss";
@import "./fonts.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-app: #ffffff;
  --color-background-app-dark: #111827;

  --color-primary-900: #4a6dff;
  --color-primary-800: #5c7cff;
  --color-primary-700: #6e8aff;
  --color-primary-600: #8099ff;
  --color-primary-500: #92a7ff;
  --color-primary-400: #a4b6ff;
  --color-primary-300: #b7c5ff;
  --color-primary-200: #c9d3ff;
  --color-primary-100: #dbe2ff;
  --color-primary-50: #e4e9ff;

  --color-secondary-900: #111827;
  --color-secondary-800: #1f2937;
  --color-secondary-700: #374151;
  --color-secondary-600: #4b5563;
  --color-secondary-500: #6b7280;
  --color-secondary-400: #9ca3af;
  --color-secondary-300: #d1d5db;
  --color-secondary-200: #e5e7eb;
  --color-secondary-100: #f3f4f6;
  --color-secondary-50: #f9fafb;
  --color-secondary-0: #ffffff;

  --color-success: #00c073;
  --color-warning: #ff9900;
  --color-error: #ff4757;
  --color-red-500: #ef4444;
  --color-red-300: #fca5a5;

  --color-backdrop-dark: #000000;
}

body {
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
  font-weight: 400;
}

@layer components {
  /* Text Field */
  .textField__input {
    @apply w-full rounded-xl px-4 py-3
    border border-secondary-200 dark:border-secondary-700
    bg-secondary-0 dark:bg-secondary-900
    text-secondary-900 dark:text-secondary-50
    outline-none
    transition-all duration-200 ease-in-out
    hover:border-primary-300 dark:hover:border-primary-500
    focus:border-primary-500 
    focus:bg-secondary-0 dark:focus:bg-secondary-900
    focus:shadow-lg focus:shadow-primary-200 dark:focus:shadow-primary-900;
  }

  /* Buttons */
  .btn {
    @apply cursor-pointer rounded-xl px-3 py-1
    font-bold
    transition-all duration-200;
  }

  .btn--primary {
    @apply px-4 py-3
    bg-primary-900 text-white
    shadow-lg shadow-primary-300 dark:shadow-primary-900/50
    hover:bg-primary-800 dark:hover:bg-primary-700;
  }

  .btn--secondary {
    @apply bg-secondary-500 text-secondary-100;
  }

  /* OTP Input */
  .otp-input {
    @apply h-12 w-10 rounded-xl
    border border-secondary-200 dark:border-secondary-700
    bg-secondary-50 dark:bg-secondary-900
    text-center font-bold text-secondary-900 dark:text-secondary-50
    outline-none
    transition-all duration-200
    focus:border-primary-500
    focus:bg-secondary-0 dark:focus:bg-secondary-900
    focus:shadow-lg focus:shadow-primary-200 dark:focus:shadow-primary-900;
  }

  /* Badges */
  .badge {
    /* Base badge styles */
  }

  .badge--primary {
    /* Primary badge styles */
  }

  .badge--secondary {
    /* Secondary badge styles */
  }
}
